body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #e2ebf4;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px
        rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

label {
    margin-top: 1rem;
}

input, textarea {
    padding: 10px;
    box-sizing: border-box;
    margin: 1.2rem 0;
}

input[type="text"],
input[type="number"] {
    width: 100%;
}

textarea.fixed-size {
    resize: none;
    width: 100%;                /* set width = 600px, same as parent .container */
    min-height: 150px;          /* even if there's no content, stay at least 150px tall */
}

button {
    width: 100%;            
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;;
}

/* JAVASCRIPT CLASSES */
.error {
    border: none;
    border-left: 5px solid red;
    background-color: #ffe6e6;
}

input.error:focus {
    border: none;
    background-color: #fff;        
}

.errorText {
    padding: 1rem;
    border: 5px solid red;
    background-color: #ffe6e6;  
    box-shadow: rgba(149, 157, 165, 0.2)
        0px 4px 12px;
    font-size: 1.2rem;
    font-family: "Lucida Sans",
        "Lucida Sans Regular",
        sans-serif;
}

.successText {
    padding: 1rem;
    border: 5px solid green;
    background-color: #e6ffed;
    box-shadow: rgba(149, 157, 165, 0.2)
        0px 4px 12px;
    font-size: 1.2rem;
    font-family: "Lucida Sans",
        "Lucida Sans Regular",
        sans-serif;
}